<div class="column">
    <h3 class="column__title">Education</h3>
    <div class="box">
        <!-- <span class="box__line"></span> -->
    <div class="education-card">
        <span class="education-card__label">S</span>
        <h3 class="education-card__title">School</h3>
        <p class="education-card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nulla est dolores, ipsam impedit libero illo harum cupiditate consequuntur? Quis illum est voluptates voluptatem, quam id molestiae reiciendis. Velit, quisquam. Tempore sint nemo laboriosam minus odio amet, quos illum ipsum provident commodi, dicta nesciunt nihil facilis accusamus eum in quibusdam?</p>
    </div>
    <div class="education-card">
        <span class="education-card__label">U</span>
        <h3 class="education-card__title">University</h3>
        <p class="education-card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nulla est dolores, ipsam impedit libero illo harum cupiditate consequuntur? Quis illum est voluptates voluptatem, quam id molestiae reiciendis. Velit, quisquam. Tempore sint nemo laboriosam minus odio amet, quos illum ipsum provident commodi, dicta nesciunt nihil facilis accusamus eum in quibusdam?</p>
    </div>
    <div class="education-card">
        <span class="education-card__label">C</span>
        <h3 class="education-card__title">Courses</h3>
        <p class="education-card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nulla est dolores, ipsam impedit libero illo harum cupiditate consequuntur? Quis illum est voluptates voluptatem, quam id molestiae reiciendis. Velit, quisquam. Tempore sint nemo laboriosam minus odio amet, quos illum ipsum provident commodi, dicta nesciunt nihil facilis accusamus eum in quibusdam?</p>
    </div>
    </div>
</div>