<div class="skils">
    <h2 class="skils__title"><i class="fas fa-sliders-h"></i> Skills</h2>
    <div class="skils__rows">
        <div class="skils__column column">
            <h3 class="column__label">Professional</h3>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label"></span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label">{{title}}</span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label">{{title}}</span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label">{{title}}</span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
        </div>
        <div class="skils__column column">
            <h3 class="column__label">Personal</h3>
            <div class="skillbar" >
                <div class="skillbar__block">
                    <span class="skillbar__label">{{title}}</span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label">{{title}}</span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label"></span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label"></span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
        </div>
        <div class="skils__column column">
            <h3 class="column__label">Programms'knowledge</h3>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label"></span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label"></span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label"></span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
            <div class="skillbar">
                <div class="skillbar__block">
                    <span class="skillbar__label"></span>
                    <span class="skillbar__count"></span>
                </div>
                <div class="skillbar__bar"></div>
            </div>
        </div>
    </div>
</div>