$fontColor: #ccc;
$bgColor: #333;

@mixin fontStyle($fs:1em, $ls:0.03em, $fc:$fontColor) {
    font-size: $fs;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    letter-spacing: $ls;
    color: $fc;
}


.about-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 20% - 3px);
    padding: 3% 10%;
    background-color: $bgColor;
    margin: 5vh 0 0 0;
    -webkit-box-shadow: 3px 3px 7px 2px rgba(35,35,35,0.5); 
    box-shadow: 3px 3px 7px 2px rgba(35,35,35,0.5);
    border-left: 3px solid #c47021;
}
.about-title {
    @include fontStyle(2.5em,0.03em,#999);
    margin: 5vh 0 0 0;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.9);
}
.about-card__text {
    @include fontStyle();
    margin: 1vh 0 0 0;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.9);
}